    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        text-align: center;
    }
    
    h1 {
        color: blue;
    }
    
    p {
        color: #333;
    }
    
    table {
        margin: 10px auto;
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    th,
    td {
        border: 1px solid black;
        padding: 5px 10px;
    }
    
    input,
    select {
        width: 50%;
        padding: 5px;
        margin: 5px 0;
    }